:global {
    .search_condition {
        .ant-form-item {
            min-width: 300px;
            min-height: 54px;
            margin-bottom: 0;
            margin-inline-end: 30px;
        }

        .ant-col {
            text-align: left;
        }

    }

}