.nav {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #202741;

  .nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%; // 父元素设置了固定，可以继承

    .title {
      width: 200px;
      height: 22px;
      background: url('../../images/title.png') no-repeat;
    }

    .nav-group {
      display: flex;
      align-items: center;
      gap: 15px;
      .bell {
        width: 20.24px;
        height: 23.24px;
        margin-right: 20px;
        background: url('../../images/bell.png') no-repeat;
      }
  
      .question {
        width: 21.78px;
        height: 21.78px;
        margin-right: 20px;
        background: url('../../images/question.png') no-repeat;
      }
  
      .line {
        height: 30px;
        margin-right: 20px;
        border: 0;
        border-left: 1px solid #fff;
      }
  
      .photo {
        width: 42px;
        height: 42px;
        background: url('../../images/photo.png') no-repeat;
      }
  
      .name {
        font-size: 14px;
        color: #fff;
      }
  
      .down {
        width: 13.5px;
        height: 8px;
        color: #fff;
        background: url('../../images/down.png') no-repeat;
      }
      & span:not(:nth-child(5)) {
        zoom: 0.7;
      }
    }
  }
}