.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .add_activ {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #1677ff;
    &:hover {
      color: #69b1ff;
    }

    .label {
      font-size: 14px;
    }
  }
}

.add_activ_modal {
  :global {
    .ant-modal-body {
      padding: 12px 30px 0 30px;
    }
  }
}

// 修改组件样式，不由styles.类名调用
:global {
  .anticon-file-add {
    margin-right: 5px;
    font-size: 20px;
  }
}